<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <div class="form">

            <img src="./img/logo.png" class="logologin">


            <ul class="tab-group">
              <li class="tab active"><a href="#signup">Registrarse</a></li>
              <li class="tab"><a href="#login">Iniciar Sesión</a></li>
            </ul>
            
            <div class="tab-content">
        
              <div id="signup">   
    
                <h1>Regístrese gratis</h1>
                <form method="post" id="signup-form">
      
                    <div class="field-wrap">
                        <input type="text" placeholder="Nombres y apellidos" required/>
                    </div>
    
                    <div class="field-wrap">
                        <input type="email" placeholder="Correo electrónico" required/>
                    </div>
                    
                    <div class="field-wrap">
                        <input type="password" placeholder="Contraseña" required/>
                    </div>
                    
                    <button type="submit" class="button button-block"/>Registrarme</button>
                
                </form>
      
              </div>
              
              <div id="login">   
                <h1>Bienvenido de nuevo!</h1>
                
                <form method="post" id="login-form">
                
                    <div class="field-wrap">
                        <input type="email" placeholder="Correo electrónico" required/>
                    </div>
                    
                    <div class="field-wrap">
                        <input type="password" placeholder="Contraseña" required/>
                    </div>
                    
                    <button type="submit" class="button button-block"/>Iniciar sesión</button>
                
                </form>
      
              </div>
    
            </div>
            
        </div> 
    </div>


  <script src="app.js"></script>

</body>
</html>